@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
#header{
  max-width: 1500px;
  width: 100%;
  height: 60vh;
  background-image:url(pics/grad3.jpg);
  background-position: center;
  background-size: cover;
}
nav{
  width: 95%;
  height: 85px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo{
  font-size: 2rem;
}
nav .logo a{
  font-family:'Grenze Gotisch',cursive;
  color: white;
}
.nav-pages ul{
  display: flex;
}
.nav-pages ul li a{
  color: white;
  margin: 0 20px;
  font-weight: 600;
}
.nav-pages ul li a:hover{
  border-bottom: 2px solid white;
}
.text{
  color: white;
  font-size: 2rem;
  text-align: center;
}
.text > h1{
  margin-top: 20vh;
}
.icon{
  display: none;
}
@media (max-width: 600px){
  .nav-pages ul{
    flex-direction: column;
  }
  .nav-pages ul{
    display: block;
    padding: 30px;
  }
  .nav-pages ul li{
    padding: 10px;
  }
  .nav-pages{
    position: absolute;
    background: black;
    height: 100vh;
    width: 250px;
    top: 0;
    right: -250px;
    text-align: left;
    z-index: 2;
    transition: 0.6s;
  }
  .nav-pages ul li a{
    font-size: 1rem;
  }
  .text > h1{
    font-size: 1.5rem;
  }
   .icon{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    display: block;
    padding: 10px;
    cursor: pointer;
  }
}

/* about section styles */

.about{
  width: 100%;
  height: auto;
}
.about-container{
  padding: 50px 0 30px 0;
  font-size: 1.5rem;
  line-height: 40px;
  font-weight: 600;
  width: 70%;
  margin: auto;
}
@media (max-width: 600px){
  .about-container p{
    font-size: 1rem;
    line-height: 30px;
    font-weight: 400;
  }
}

/* feature section styles */

.featured{
  width: 100%;
  height: auto;
  background: gray;
}
.featured > h1{
  width: 300px;
  margin: auto;
  font-size: 1.8rem;
  padding: 20px 0 10px 0;
  text-align: center;
  border-bottom: 2px solid black;
}
.featured .feature img{
  width: 70%;
  height: 150px;
}
.feature-container{
  padding: 70px 0 70px 0;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 600px){
  .featured .feature img{
    width: 60%;
    height: 70px;
  }
}

/* contact styles */

#contact{
  width: 100%;
  max-width: 1500px;
  background-image: url(pics/grad.jpg);
  height: auto;
  background-size: cover;
  background-position: center;
}
#contact > h1{
  width: 200px;
  text-align: center;
  margin: auto;
  padding: 20px 0 10px 0;
  border-bottom: 2px solid white;
  color: white;
}
.contact-container{
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.contact-container .left-div input, textarea{
  display: block;
  width: 300px;
  padding: 10px;
  margin: 20px;
}
.right-div{
  padding: 10px;
}
.right-div .general-links p{
  line-height: 40px;
  color: white;
  font-size: 1.3rem;
}
.right-div .social-links img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.right-div .social-links > h1{
  margin: 30px 0 10px 0;
  color: white;
}
@media (max-width: 600px){
  .contact-container{
    flex-direction: column;
  }
  .contact-container .left-div input, textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px auto;
  }
  .right-div .general-links p{
    line-height: 30px;
    font-size: 0.9rem;
  }
}
hr{
  width: 80%;
  margin: auto;
  height: 1px;
  color: white;
}
/* footer section style */
#footer{
  width: 80%;
  margin: auto;
  padding: 20px;
  color: white;
  text-align: center;
}
@media (max-width: 600px){
  #footer{
    font-size: 0.8rem;
  }
}
